.AllRightsReserved {
    padding-top: 100px;
    padding-bottom: 20px;

    .container1 {
        .footer-items {
            i {
                text-decoration: none;
                color: #231E41;
                padding: 0 10px;
            }

            p {
                color: #B0B2BB;
            }
        }
    }
}